body {
    display: flex;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

img {
    width: 650px;
    object-fit: contain;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 30px;
}

input {
    font-size: 16px;

}

fieldset {
    width: auto;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    column-gap: 10px;
    row-gap: 1em;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 3px 3px black;
}